.nav{
    position: fixed;
    display: flex;   
    flex-wrap: wrap;
    flex-direction: row;
    font-size: large;
    text-align: right;
    background-color: rgba(110, 53, 216, 0.712);
    padding: 0;
    margin: 0;
    margin-top: 0.3%;
    border-radius: 10px;
    width: 99%;
    justify-content: end;
    align-items: center;
}
.links {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 5%;
    width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    

}
.links .link {
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: auto;
    height: 100%;
    font-size: 100%;
    color: rgb(185, 242, 250);
    padding: 0.5%;

    border-radius: 10px;
    text-decoration: none;
    background-color: rgba(74, 10, 133, 0.945);
    border-style: solid;
    border-color: rgba(74, 10, 133, 0.945);

}

.link:hover{
    background-color: rgba(115, 47, 179, 0);

}
.logoHome{

    width: 180px;
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 5%;
    padding: 3%;
}

.filtros{
    display: flex;
    margin: 1%;
    margin-bottom: -1%;
}
select{
    background-color: rgba(53, 205, 216, 0.425);
    border-radius: 7px;
    border-style: hidden;
    border-style: solid;
    border-color: rgba(74, 10, 133, 0.945);
}
option{
    margin:1%;
    background-color: rgba(110, 53, 216, 0.274);
    border-radius: 7px;
    border-style: hidden;
}
option:hover{
    border-style: solid;
    border-color: rgba(74, 10, 133, 0.945);
    background-color: rgba(110, 53, 216, 0.123);
    
}